# Python files
*.py[cod]

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backup files
*.swp

# Tar files
*.tar*

# Deps files
deps/vim/*
deps/git/*
deps/bash/*

# Tmp files
conf/vim/doc/tags
